
:root {
  --black: #1c1c1c;
  --gray: #7E7E7E;
  --gray-light: #E4E4E4;
  --red: #b30000;
  --font-size-base: 1rem;
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --border-radius: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--black);
  font-size: var(--font-size-base);
  background-color: #FAF5EE;
  background-image: url("/img/img-noise-361x370.png");
  margin: 0;
}
.title{
    margin-left: 20em;
}

a { color: var(--black); }
h1 { 
    font-size: var(--font-size-xl);
    margin-left: 7em;
}
h2 { font-size: var(--font-size-lg); }
h4 { font-size: var(--font-size-md); 
    width: 600px;
    height: 7px;
}
#btn{
    width: 300px;
    height: 50px;
}

input[type="text"],
select,
textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  display: block;
  box-sizing: border-box;
  width: 50%;
  padding: 0.7rem 0.75rem;
  margin-bottom: 1rem;
}

img {
  width: 100%;
  height: auto;
}


.container {
  max-width: 982px;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  padding: 20px 0;
}




